.sp-target{
    margin-top: 1rem;
    width: 97%;
    min-height: 50vh;
    background: #fff;
    margin-bottom: 2rem;
    padding: .5rem 0;
    overflow: hidden;
    padding: 1rem ;
    
}

.sp-input {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
   
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 1rem 0;
   
}

.sp-td{
border: 1px solid #111;
border-right: none;
padding:2rem .5rem;
max-width: 80%;
word-break: break-all;
font-size: .8rem;
}

.sp-change-nm{
    display: flex;

}
.sp-change-nm input{
    width: 2rem;
    height: 2.3rem;
    margin-top: 1rem;
    border:none;
    outline: none;
    border-radius: 5px;
    background: rgb(160, 156, 156);
}
.sp-add, .sp-less{
    padding: .5rem .8rem;
    margin: 1rem;
    border-radius: 5px;
    background: rgb(160, 156, 156);
}

.sp-go{
    margin: 1rem .5rem 0 2rem; 
    padding: .5rem 1rem;
}
.sp-go:last-child{
    margin: 1rem .5rem 0 .5rem;
}
.sp-1{
    margin: 1rem .5rem;
    padding: .5rem 1rem;
    border: 1px solid rgb(163, 158, 158);
    border-radius: 5px;
}
.sp-select{
    width:4rem ;
    height: 2.4rem;
    margin-top:1rem ;
    border: 1px solid rgb(163, 158, 158);
    outline: rgb(163, 158, 158);;
}